<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brewers' Den</title>
</head>

<body>
    <h1>Welcome to the Brewers' Den!, <%= user.username %>!</h1>
    <nav>
        <a href="/">Home</a> | <a href="beers">Browse Brews</a>
    </nav>

    <h2>Admin Controls</h2>
    <div class="admin-options">
        <p><a href="/beers/new" class="btn">Tap a new Brew</a></p>
        <p><a href="/beers" class="btn">Manage Existing Brews</a></p>
    </div>
</body>

<footer>
    <a href="/auth/sign-out">Sign out</a>
</footer>

</html>