<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brewers' Den</title>
</head>

<body>
    <h1>Welcome to the Brewers' Den!</h1>
    <p>Would you like to <a href="/beers/new">Tap a new Brew?</a></p>
</body>

<footer>
    <a href="/auth/sign-out">Sign out</a>
</footer>

</html>