<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <ling rel="stylesheet" href="/stylesheets/style.css" />
    <title>The Brewlogue</title>
</head>

<body>
    <%- include('partials/_navbar') %>

        <% if (user) { %>
            <h1 class="is-size-3">Welcome to the Brewlogue, <%= user.username %>!</h1>
            <% if (user.role==='admin' ) { %>
                <p><a href="/brewden" class="admin-link">Brewers' Den (Admin Portal)</a></p>
                <% } %>

                    <% } else { %>
                        <h1>Welcome to the Brewlogue!</h1>
                        <h2><a href="/beers">A Catalog of Craft Beers!</a>.</h2>


                        <% } %>

</body>

</html>