<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Brewlogue</title>
</head>

<body>
    <h1>Welcome to the Brewlogue!</h1>
    <p>An app for cataloging beers.</p>
</body>

<footer>
<a href="/beers">Browse Brews</a>
</footer>

</html>