<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>The Brewlogue</title>
</head>

<body>
    <% if (user) { %>
        <h1>Welcome to the Brewlogue, <%= user.username %>!</h1>
        <% if (user.role==='admin' ) { %>
            <p><a href="/brewden" class="admin-link">Brewers' Den (Admin Portal)</a></p>
            <% } %>

                <% } else { %>
                    <h1>Welcome to the Brewlogue</h1>
                    <h2>A catalog of beers!</h2>
                    <p>
                        <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">Login</a>.
                    </p>
                    <% } %>
                        <nav>
                            <a href="/beers">Browse Brews</a>
                        </nav>
</body>

<footer>
    <br>
    <% if (user) { %>
        <a href="/auth/sign-out">Sign out</a>
        <% } %>

</footer>

</html>