 @import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

 .beer-stats {
     display: flex;
 }

 .botanicals {
     display: flex;
 }

 .edit-delete {
     display: flex;
 }