.beer-stats {
    display: flex;
}

.botanicals {
    display: flex;
}

.edit-delete {
    display: flex;
}

.beer-form {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 10px;

}