<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <ling rel="stylesheet" href="/stylesheets/style.css" />
    <title>Brew Catalog</title>
</head>

<body>
    <h1>The Brewlogue</h1>

    <% if (user && user.role==='admin' ) { %>
        <a href="/beers/new">Add New Beer</a>
        <% } %>

            <ul>
                <% beers.forEach(beer=> { %>
                    <li>
                        <a href="/beers/<%= beer._id %>">
                            <%= beer.name %>
                        </a>
                    </li>
                    <% }); %>
            </ul>
</body>
<nav>
    <a href="/">Home</a> |
    <a href="/beers">Browse Brews</a>
    <% if (user && user.role==='admin' ) { %>
        | <a href="/brewden">Brewers' Den</a>
        <% } %>
</nav>


</html>