<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <!-- <link href="https://api.fontshare.com/v2/css?f[]=alpino@500&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>New Brew</title>
</head>

<body>
    <%- include('../partials/_navbar') %>

        <h1>Upload a new brew!</h1>
        <form action="/beers" method="POST" class="beer-form">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" />
            <label for="style">Style:</label>
            <input type="text" name="style" id="style" />
            <label for="flavorProfile">Flavor Profile:</label>
            <textarea name="flavorProfile" id="flavorProfile" rows="3" cols="50"></textarea>
            <label for="abv">ABV:</label>
            <input type="number" name="abv" id="abv" step="0.1" min="0" max="20" />
            <span>%</span>
            <label for="ibu">IBU:</label>
            <input type="number" name="ibu" id="ibu" />
            <label for="malt">Malt:</label>
            <input type="text" name="malt" id="malt" />
            <label for="hops">Hops:</label>
            <input type="text" name="hops" id="hops" />
            <label for="foodPairing">Pairs With:</label>
            <textarea name="foodPairing" id="foodPairing" rows="3" cols="50"></textarea>
            <label for="availability">Availability:</label>
            <input type="text" name="availability" id="availability" />
            <button type="submit">Add Beer</button>
        </form>

</body>

</html>